:root {
    --outer-space: white;
    --dark-grey: rgba(5, 6, 19, 0.8);
    --dark-green: rgba(74, 96, 104, 0.9);
    --opacity-low: .4;
    --opacity-high: .6;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--dark-grey);
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 3rem;
}
  
h2 {
  font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.header .contact-info {
    display: flex;
}
.contact-info p {
    margin-right: 15px;
}

.header a {
    color: var(--dark-grey);
    /* text-decoration: none; */

}


.content {
    color: var(--dark-green);
}

.block {
    display: flex;
    margin: 40px 0;
}

.block .title-box {
    width: 15%;
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
}

.block .title-box .block-title{
    display: flex;
    justify-content: flex-end;
    width: 1%;
    margin-right: 20px;
    padding: 0 10px;
    text-align: right;
    border-right: 3px solid var(--dark-green);
}

.block .descr-box {
    width: 85%;
    font-size: 1.2rem;
}

.block-content {
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.block .descr-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .block .descr-title h4 {
    flex-grow: 1;
} */

.date-period {
    text-align: right;
    min-width: 150px;
    margin-bottom: 0.625rem;
}


.descr-content {
    width: 480px;
}


.block .descr-box .descr-content-list {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 15px;
}

.descr-content-list li {
    text-align: justify;
}

.vertically-center {
    display: flex;
    height: 100%;
    align-items: center;
}

em {
    font-size: 1.4rem;
}


@media screen and (max-width: 991px) {
    body {
        padding-left: 50px;
        padding-right: 50px;;
    }

    .header {
        text-align: center;
    }

    .header .contact-info {
        justify-content: center;
    }
    

    .content {
        padding: 10px 20px;
    }

    .block {
        margin: 10px 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .block .title-box {
        width: 100%;
    }

    .block .descr-box {
        margin-top: 20px;
        width: 100%;
    }

    .date-period {
        font-size: 1.3rem;
    }

    .block .title-box .block-title {
        padding: 0;
        width: 100%;
        justify-content: flex-start;
        border-right-style: none;
        border-bottom: 3px solid var(--dark-green);
        margin: auto;
    }

    .descr-content {
        width: 100%;
    }

    em {
        margin-bottom: 30px;
    }

}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1rem;
    }

    body {
        padding: 10px;
    }

    
    .header .contact-info {
        flex-direction: column;
    }

    .block-title {
        justify-content: center;
    }

    .block .descr-title {
        flex-direction: column;
        align-items: flex-start;
    }

    .date-period {
        min-width: 10px;
        font-size: 1rem;
    }

    .block .descr-box {
        margin-top: 10px;
    }

    em {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }


}



