:root {
    --outer-space: white;
    --dark-grey: rgba(5, 6, 19, 0.8);
    --dark-green: rgba(74, 96, 104, 0.9);
    --opacity-low: .4;
    --opacity-high: .6;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
    color: var(--dark-grey);
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  font-weight: 700;
  line-height: 1.1;
}

h1 {
    font-size: 3rem;
}
  
h2 {
  font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
  font-size: 1.5rem;
}

p {
    font-size: 1.5rem;
}

.header .contact-info {
    display: flex;
}
.contact-info p {
    margin-right: 15px;
}

.header a {
    color: var(--dark-grey);
    /* text-decoration: none; */

}


.content {
    color: var(--dark-green);
}

.block {
    display: flex;
    margin: 40px 0;
}

.block .title-box {
    width: 15%;
    min-width: 170px;
    display: flex;
    justify-content: flex-end;
}

.block .title-box .block-title{
    display: flex;
    justify-content: flex-end;
    width: 1%;
    margin-right: 20px;
    padding: 0 10px;
    text-align: right;
    border-right: 3px solid var(--dark-green);
}

.block .descr-box {
    width: 85%;
    font-size: 1.2rem;
}

.block .descr-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.block .descr-title h {
    flex-grow: 1;
}

.date-period {
    text-align: right;
    min-width: 150px;
    margin-bottom: 0.625rem;
}


.descr-content {
    width: 480px;
}


.block .descr-box .descr-content-list {
    list-style-type: disc;
    list-style-position: outside;
    padding: 0px 0px 20px 15px;
}

.descr-content-list li {
    text-align: justify;
}

.vertically-center {
    display: flex;
    align-items: center;
}

em {
    font-size: 1.4rem;
}

/* Experience Starts */
/* 
@media screen and (max-width: 991px) {
    .header h1, .main-nav, .title-box, .descr-box  {
        width: 100%;
    }
    header, section {
        flex-direction: column;
    }
    
    header ul {
        justify-content: flex-end;
    }

    .block {
        margin: 10px 0;
    }

    .content {
        padding: 20px 40px;
    }

    .block-title {
        justify-content: flex-start;
        width: 100%;
        border-right-style: none;
        border-bottom: 3px solid var(--dark-green);
        margin: auto;
    }

    .descr-box {
        margin-top: 20px;
    }
    .project a .project-title {
        bottom: -4px;
    }

    .nav-link ul {
        padding: auto;
    }
}


@media screen and (max-width: 767px) {
    h1 {
        font-size: 3.5rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 4rem;
    }
    h4 {
        font-size: 2rem;
    }
    .header h1 {
        text-align: center;
        padding: 0px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .main-nav ul {
        padding-right: 0px;
    }

    .nav-link a, .main-nav a {
        border-style: none;
        text-decoration: underline;
    }

    .hero-img h2{
        width: 100%;
        margin: 0px;
        text-align: center;
    }

    .content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .block-title {
        justify-content: center;
    }

    .project {
        width: 100%;
    }

    .project-title {
        width: 100%;
    }

    .project-title h4, .project-title p {
        display: inline-block;
    }

}



 */


